@import "base.less";
#main {
    background-color: #fff;
    
    .search-chistory {
        padding: 0 10px;
        height: 100%;
        .title {
            font-size: 12px;
            line-height: 40px;
            height: 40px;
            color: #666;
            >i {
                line-height: 40px;
            }
        }
        .content {
            ul {
                border: 1px solid #ccc;
                max-height: 150px;
                overflow: auto;
                >li {
                    padding-left: 10px;
                    line-height: 30px;
                    font-size: 14px;
                    border-bottom: 1px solid #ccc;
                    display: flex;
                    >a {
                        height: 100%;
                        display: block;
                        flex: 1;
                    }
                    >.mui-pull-right {
                        line-height: 30px;
                        width: 30px;
                        color: #666;
                        text-align: center;
                    }
                    &:last-of-type {
                        border-bottom: none;
                    }
                }
                >p {
                    text-align: center;
                    line-height: 30px;
                    margin-bottom: 0px;
                    color: #000;
                }
            }
        }
    }
}